<h1>Diversity and Inclusion in Tech</h1>

<div class="about_info">
	<p>
		Inclusion Events are events that bring together all ages, ethnicities, genders and races for small group discussions, centered on Diversity and Inclusion in the tech industry, co-facilitated by local tech professionals and science, technology, engineering and math (STEM) students. 
	</p>

	<div class="ltc_logo">
		<p>LTC logo</p>
	</div>
	<div class="wit_logo">
		<p>WIT logo</p>
	</div>
</div>