
<div class="nav_bar">
	<ul>
		<li><a href="/about">About Us</a></li>
		<li><a href="contact">Contact</a></li>
		<li><a href="https://twitter.com/inclusionchats" target="blank">Twitter</a></li>
	</ul>
</div>

<div class="main">
	<h1>Inclusion Chats</h1>

	<h4>Small group discussions co-faciliated by tech professionals and STEM students</h4>

</div>

