
<link rel="stylesheet" href="/home.css">

<div class="header">
	<h1 class="home_title">Inclusion Chats</h1>

	<h5 class="home_sentence">Small group discussions co-faciliated by tech professionals and STEM students</h5>

	<ul class="nav_bar">

		<li><a href="/about" class="nav_bar_item">About Us</a></li>
		<li><a href="contact" class="nav_bar_item">Contact</a></li>
		<li><a href="https://twitter.com/inclusionchats" target="blank" class="nav_bar_item">Twitter</a></li>

	</ul>

</div>


<div class="slider-container">
	<ul class="slider js-gallery">

		<li class="slider_item js-gallery-item" style=" background-image: url('pictures/InclusionLogoFinal.png')"></li>
		<li class="slider_item js-gallery-item" style=" background-image: url('pictures/inclusion_2.jpg')"></li>
		<li class="slider_item js-gallery-item" style=" background-image: url('pictures/inclusion_3.jpg')"></li>
		<li class="slider_item js-gallery-item" style=" background-image: url('pictures/inclusion_4.jpg')"></li>

	</ul>
</div>

<script src="slider.js"> </script>

